# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

/Homework-Set-3/Personalized-Health/target/
/Homework-Set-3/WebApplication1/nbproject/private/
/Homework-Set-3/Personalized-Health/nbproject/private/
/Homework-Set-3/Personalized-Health/dist/
/Homework-Set-3/Personalized-Health/build/
/Homework-Set-3/Health-System/target/
