.form-card {
  background-color: rgb(51, 83, 109);
  text-align: left;
  border-radius: 5%;
}

html,
body {
  background-color: rgba(11, 29, 68, 0.993);
  color: white;
}
label
{
    font-weight: bold;
    font-size: large;
}
.btn-primary {
    background-color: white;
    color: rgb(14, 14, 17);
}
